<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>acorn_brown.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{87, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1918, 83}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>acorn_green.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {73, 85}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{73, 85}</string>
			<key>spriteSourceSize</key>
			<string>{87, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1006, 452}, {73, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>acorn_red.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {75, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{75, 81}</string>
			<key>spriteSourceSize</key>
			<string>{87, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1918, 0}, {75, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>omega_black_house_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {751, 600}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{751, 600}</string>
			<key>spriteSourceSize</key>
			<string>{753, 602}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {751, 600}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>omega_blackhouse_1_large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 70}, {749, 718}}</string>
			<key>spriteOffset</key>
			<string>{1, -35}</string>
			<key>spriteSize</key>
			<string>{749, 718}</string>
			<key>spriteSourceSize</key>
			<string>{753, 788}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{751, 602}, {749, 718}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>omega_blackhouse_2_large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 70}, {749, 718}}</string>
			<key>spriteOffset</key>
			<string>{0, -35}</string>
			<key>spriteSize</key>
			<string>{749, 718}</string>
			<key>spriteSourceSize</key>
			<string>{753, 788}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 602}, {749, 718}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>omega_orange_shrub.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {387, 450}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{387, 450}</string>
			<key>spriteSourceSize</key>
			<string>{389, 450}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1142, 0}, {387, 450}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>omega_powerline.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {570, 5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{570, 5}</string>
			<key>spriteSourceSize</key>
			<string>{570, 5}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1447, 452}, {570, 5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>omega_red_shrub.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {385, 450}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{385, 450}</string>
			<key>spriteSourceSize</key>
			<string>{389, 450}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1531, 0}, {385, 450}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>omega_shock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{61, 62}</string>
			<key>spriteSourceSize</key>
			<string>{61, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1253, 535}, {61, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>omega_telephonepole.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {133, 260}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{133, 260}</string>
			<key>spriteSourceSize</key>
			<string>{133, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1637, 611}, {133, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>omega_telephonepole_large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {133, 415}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{133, 415}</string>
			<key>spriteSourceSize</key>
			<string>{133, 415}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1502, 611}, {133, 415}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>omega_telephonepole_medium.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {133, 347}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{133, 347}</string>
			<key>spriteSourceSize</key>
			<string>{133, 347}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1502, 1028}, {133, 347}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>omega_yellow_shrub.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {387, 450}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{387, 450}</string>
			<key>spriteSourceSize</key>
			<string>{389, 450}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{753, 0}, {387, 450}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>powerup_jump_butterfly_green.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {95, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 81}</string>
			<key>spriteSourceSize</key>
			<string>{101, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1253, 452}, {95, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>powerup_life_cherry.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {81, 127}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{81, 127}</string>
			<key>spriteSourceSize</key>
			<string>{87, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{753, 452}, {81, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>powerup_superjump_butterfly_purple.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {95, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 81}</string>
			<key>spriteSourceSize</key>
			<string>{101, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1350, 452}, {95, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>squirrel-frames_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 8}, {170, 82}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{170, 82}</string>
			<key>spriteSourceSize</key>
			<string>{198, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1081, 452}, {170, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>squirrel-frames_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 11}, {166, 80}}</string>
			<key>spriteOffset</key>
			<string>{-7, -4}</string>
			<key>spriteSize</key>
			<string>{166, 80}</string>
			<key>spriteSourceSize</key>
			<string>{198, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1447, 459}, {166, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>squirrel-frames_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 24}, {198, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -11}</string>
			<key>spriteSize</key>
			<string>{198, 68}</string>
			<key>spriteSourceSize</key>
			<string>{198, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1502, 541}, {198, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>squirrel-frames_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 1}, {168, 88}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{168, 88}</string>
			<key>spriteSourceSize</key>
			<string>{198, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{836, 452}, {168, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>OmegaSquirrelTextures.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>All</string>
			<key>textureFileName</key>
			<string>OmegaSquirrelTextures</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>OmegaSquirrelTextures</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>